@model Covid19ManagementSystem.Models.Person

<h1>Person Details</h1>

<table>
    <tr>
        <th>ID</th>
        <td>@ViewBag.PersonId</td>
    </tr>
    <tr>
        <th>Name</th>
        <td>@ViewBag.FirstName @ViewBag.LastName</td>
    </tr>
    <tr>
        <th>Date of Birth</th>
        <td>@ViewBag.DateOfBirth.ToShortDateString()</td>
    </tr>
    <tr>
        <th>Telephone</th>
        <td>@ViewBag.Telephone</td>
    </tr>
    <tr>
        <th>Mobile Phone</th>
        <td>@ViewBag.MobilePhone</td>
    </tr>
    <tr>
        <th>Address</th>
        <td>@ViewBag.NumberStreet, @ViewBag.Street, @ViewBag.City</td>
    </tr>
</table>

@Html.ActionLink("AddVaccine", "AddVaccine", new { id = @ViewBag.PersonId })|
@Html.ActionLink("AddPositiveTest", "AddPositiveTest", new { id = @ViewBag.PersonId })