@model Covid19ManagementSystem.Models.Person

<h1>Edit Person</h1>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.PersonId)

    <div>
        @Html.LabelFor(model => model.FirstName)
        @Html.TextBoxFor(model => model.FirstName)
        @Html.ValidationMessageFor(model => model.FirstName)
    </div>

    <div>
        @Html.LabelFor(model => model.LastName)
        @Html.TextBoxFor(model => model.LastName)
        @Html.ValidationMessageFor(model => model.LastName)
    </div>

    <div>
        @Html.LabelFor(model => model.ID)
        @Html.TextBoxFor(model => model.ID)
        @Html.ValidationMessageFor(model => model.ID)
    </div>

    <div>
        @Html.LabelFor(model => model.DateOfBirth)
        @Html.TextBoxFor(model => model.DateOfBirth)
        @Html.ValidationMessageFor(model => model.DateOfBirth)
    </div>

    <div>
        @Html.LabelFor(model => model.Telephone)
        @Html.TextBoxFor(model => model.Telephone)
        @Html.ValidationMessageFor(model => model.Telephone)
    </div>

    <div>
        @Html.LabelFor(model => model.MobilePhone)
        @Html.TextBoxFor(model => model.MobilePhone)
        @Html.ValidationMessageFor(model => model.MobilePhone)
    </div>

    <div>
        @Html.LabelFor(model => model.City)
        @Html.TextBoxFor(model => model.City)
        @Html.ValidationMessageFor(model => model.City)
    </div>

    <div>
        @Html.LabelFor(model => model.Street)
        @Html.TextBoxFor(model => model.Street)
        @Html.ValidationMessageFor(model => model.Street)
    </div>

    <div>
        @Html.LabelFor(model => model.NumberStreet)
        @Html.TextBoxFor(model => model.NumberStreet)
        @Html.ValidationMessageFor(model => model.NumberStreet)
    </div>

    <input type="submit" value="Save" />
}
